*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    /* font-family: "Nunito", sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(57,52,74);
}

body {
    margin: 0;
    padding: 0;
}


/* Estilos del header de la pantalla */

header {
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0rem 2rem;
    margin: 1rem 0;
    gap: 2rem;
}

header a {
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(57,52,74);
}

.profile-picture {
    background-color: black;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Estilos de la barra de busqueda */

main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.google-logo {
width: 28rem;
}
.google-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.search-bar {
    width: 58rem;
    height: 5rem;
    border: 0.1rem solid rgb(219, 219, 219);
    border-radius: 9999px;
    box-shadow: 0 2px 8px 1px rgba(2, 2, 2, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.4rem;
   
}

.search-bar:hover {
    box-shadow: 0 2px 8px 2px rgba(37, 37, 37, 0.2);;
}

#bar-input {
    width: 50rem;
    height: 4.5rem;
    margin: 0 0.4rem;
    padding: 1rem 1rem;
    border: none; 
    outline: none;   
    font-size: 1.6rem;
}

#search-icon {
    font-size: 2rem;
    color: #a7acb1;
}

.search-icon-buttons {
    display: flex;
    gap: 0.8rem;
}

.search-icon-buttons a {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
}

.search-icon-buttons img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-buttons{
    width: 60rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-buttons a {
    width: 15rem;
    height: 3.6rem;
    padding: 0rem 1rem;
    margin: 1rem 0.4rem;
    background-color: #f8f9fa;
    border: none;
    font-size: 1.4rem;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: rgb(57,52,74);
    

}

/* Estilos del footer */

footer {
    width: 100%;
    height: 13.5vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-country {
    height: 50em;
    display: flex;
    border-bottom: 0.1rem solid rgb(220, 220, 220);
}
.footer-navigation {
    height: 50em;
    display: flex;
    justify-content: space-between;
}

.footer-navigation a {
    text-decoration: none;
    color: rgb(57,52,74);
}

.country, .footer-nav-left, .footer-nav-right {
    padding: 0 3rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 2.4rem;
}